<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
#set($lastName = ${order.contactLastname})
#set($firstName = ${order.contactFirstname})
#set($orderMid = ${order.orderMid})
#set($prodOid = ${orderLst.prodOid})
#set($lstDtGo = $dateTool.format("yyyy/MM/dd", ${orderLst.lstDtGo}))
#set($prodDesc = ${orderLst.prodDesc})
#set($prodLevel2Desc = ${orderLst.prodLevel2Desc}) ##optional
#set($orderCussCount = ${orderCuss.size()})
#set($noPkg = '*')
#set($eventTime = ${orderLst.eventTime}) ##optional
#set($priceType = ${orderLst.priceType}) ##RANK or NORANK
#set($rank = 'RANK')
#set($noRank = 'NORANK')
#set($price1Qty = ${orderLst.price1Qty})
#set($price2Qty = ${orderLst.price2Qty})
#set($price3Qty = ${orderLst.price3Qty})
#set($price4Qty = ${orderLst.price4Qty})

<html>
<head>
  <title>予約確認書 Booking ID:${orderMid}</title>
  <meta charset="utf-8">
</head>
<body style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';background-color: white;margin: 0;padding: 0;">
  <table width="400" style="margin: 0 auto;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;width: 400px !important;min-width: 400px !important;">
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <!--space block-->
      <td height="8" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
    </tr>
  </table>
  <!--head-->
  <table width="400" style="margin: 0 auto;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;width: 400px !important;min-width: 400px !important;">
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <td width="50%" style="text-align: right;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"><img width="95" src="https://www.kkday.com/assets/img/kkday_logo_final.png" alt="KKday" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;"></td>
      <td width="50%" style="text-align: left;font-size: 20px;color: #26BEC9;padding: 0 0 5px 5px;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;border: 0;">予約確認書</td>
    </tr>
  </table>
  <!--head end-->
  <table width="400" style="margin: 0 auto;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;width: 400px !important;min-width: 400px !important;">
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <!--space block-->
      <td height="5" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
    </tr>
  </table>

  <!--order status-->
  <table width="400" style="margin: 0 auto;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;width: 400px !important;min-width: 400px !important;">
    <tbody style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
        <td width="100%" style="padding: 0;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;border: 0;"><img width="100%" src="https://s1.kkday.com/images/other/flow-ja.png" alt="status bar" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;"></td>
      </tr>
    </tbody>
  </table>
  <!--order status end-->

  <table width="400" style="margin: 0 auto;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;width: 400px !important;min-width: 400px !important;">
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <!--space block-->
      <td height="2" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
    </tr>
  </table>

  <!--order message-->
  <table width="400" style="margin: 0 auto;width: 400px !important;min-width: 400px !important; background: #26BEC9 url('https://s1.kkday.com/images/other/banner-background.png') bottom no-repeat;background-size: 293%;background-color: #26BEC9;background-position: 41% 100%;color: white;line-height: 24px;font-size: 14px;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <!--space block-->
      <td height="20" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
    </tr>
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <td width="100%" style="text-align: center;font: 30px bold;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">ご注文を承りました</td>
    </tr>
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <!--space block-->
      <td height="20" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
    </tr>
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <td width="100%" style="text-align: center;color: #FFF6C8;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">#if(${lastName} && !${lastName.isEmpty()})${lastName}#end #if(${firstName} && !${firstName.isEmpty()})${firstName}#end 様:</td>
    </tr>
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <td width="100%" style="text-align: center;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">kkdayでご予約ありがとうございました!</td>
    </tr>
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <td width="100%" style="text-align: center;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">KKdayは2日中お客様の注文を確認し、ご連絡</td>
    </tr>
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <td width="100%" style="text-align: center;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">申し上げます。</td>
    </tr>
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <td width="100%" style="text-align: center;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">(土、日、休日や提供者の本國休日を除き)</td>
    </tr>
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <!--space block-->
      <td height="18" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
    </tr>
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <td width="100%" style="text-align: center;color: #FFF6C8;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">予約番号</td>
    </tr>
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <!--space block-->
      <td height="7" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
    </tr>
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <td width="100%" style="text-align: center;color: #FFF6C8;font-size: 28px;font-weight: 400;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">${orderMid}</td>
    </tr>
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <!--space block-->
      <td height="30" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
    </tr>
  </table>
  <!--order message end-->

  <table width="400" style="margin: 0 auto;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;width: 400px !important;min-width: 400px !important;">
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <!--space block-->
      <td height="10" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
    </tr>
  </table>

  <!--order product-->
  <table width="400" style="margin: 0 auto;background: #E5E5E5;font-size: 14px;color: #333333;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;width: 400px !important;min-width: 400px !important;">
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <td colspan="3" width="100%" style="text-align: left;background: #8B8B8B;color: white;font-size: 20px;line-height: 40px;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0 0 0 6%;border-collapse: collapse;border: 0;">商品情報</td>
    </tr>
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <!--space block-->
      <td colspan="3" height="10" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
    </tr>
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
      <td width="88%" style="text-align: left;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';color:#666666;border-collapse: collapse;padding: 0;border: 0;">商品番号：${prodOid}</td>
      <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
    </tr>
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <!--space block-->
      <td colspan="3" height="5" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
    </tr>
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
      <td width="88%" style="text-align: left;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">予約日：${lstDtGo}</td>
      <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
    </tr>
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <!--space block-->
      <td colspan="3" height="5" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
    </tr>
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
      <td width="88%" style="text-align: left;font-size: 16px;color: black;font-weight: bold;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">${prodDesc}</td>
      <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
    </tr>
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <!--space block-->
      <td colspan="3" height="5" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
    </tr>
    #if(${prodLevel2Desc} && !${prodLevel2Desc.isEmpty()} && !${prodLevel2Desc.equals($noPkg)})
      <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
        <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
        <td width="88%" style="text-align: left;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">${prodLevel2Desc}</td>
        <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
      </tr>
      <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
        <!--space block-->
        <td colspan="3" height="5" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
      </tr>
    #end
    #if(${eventTime} && !${eventTime.isEmpty()})
      <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
        <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
        <td width="88%" style="text-align: left;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">オプション ${eventTime.substring(0, 2)} : ${eventTime.substring(2)}</td>
        <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
      </tr>
      <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
        <!--space block-->
        <td colspan="3" height="5" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
      </tr>
    #end
    #if(${priceType} && !${priceType.equals($rank)})
      #if(${price1Qty} != 0)
        <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
          <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
          <td width="88%" style="text-align: left;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">${price1Qty} ${unit}</td>
          <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
        </tr>
        <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
          <!--space block-->
          <td colspan="3" height="5" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
        </tr>
      #end
    #else ##norank
      #if(${price1Qty} != 0)
        <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
          <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
          <td width="88%" style="text-align: left;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">大人：${price1Qty} 名</td>
          <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
        </tr>
        <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
          <!--space block-->
          <td colspan="3" height="5" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
        </tr>
      #end
      #if(${price2Qty} != 0)
        <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
          <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
          <td width="88%" style="text-align: left;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">子供：${price2Qty} 名</td>
          <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
        </tr>
        <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
          <!--space block-->
          <td colspan="3" height="5" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
        </tr>
      #end
      #if(${price3Qty} != 0)
        <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
          <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
          <td width="88%" style="text-align: left;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">幼児：${price3Qty} 名</td>
          <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
        </tr>
        <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
          <!--space block-->
          <td colspan="3" height="5" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
        </tr>
      #end
      #if(${price4Qty} != 0)
        <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
          <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
          <td width="88%" style="text-align: left;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">高年齢：${price4Qty} 名</td>
          <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
        </tr>
        <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
          <!--space block-->
          <td colspan="3" height="5" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
        </tr>
      #end
    #end
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <!--space block-->
      <td colspan="3" height="5" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
    </tr>
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <td colspan="3" width="100%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">
        <!-- order btn  -->
        <table width="400" cellpadding="0" cellspacing="0" align="center" style="text-align: center;mso-table-lspace: 0pt;mso-table-rspace: 0pt;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">
          <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
            <td style="text-align: center;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">
              <table width="165" cellpadding="0" cellspacing="0" align="center" style="margin: 0 auto;text-align: center;mso-table-lspace: 0pt;mso-table-rspace: 0pt;background: #26BEC9;border-radius: 4px;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">
                <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
                  <td width="100%" height="10" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
                </tr>
                <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
                  <td style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">

                    <table width="100%" cellpadding="0" cellspacing="0" align="center" style="text-align: center;mso-table-lspace: 0pt;mso-table-rspace: 0pt;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">
                      <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
                        <td align="center" style="text-align: center;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">
                          <a target="_blank" href="https://www.kkday.com/ja/order/show/${orderMid}" style="display: block;width: 100%;color: #FFFFFF;font-size: 18px;text-decoration: none;letter-spacing: 1px;line-height: 25px;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">商品の詳細内容</a>
                        </td>
                      </tr>
                    </table>

                  </td>
                </tr>
                <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
                  <td width="100%" height="10" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <!-- order btn end -->
      </td>
    </tr>
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <!--space block-->
      <td colspan="3" height="10" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
    </tr>
  </table>
  <!--order product end-->

  <table width="400" style="margin: 0 auto;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;width: 400px !important;min-width: 400px !important;">
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <!--space block-->
      <td height="10" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
    </tr>
  </table>

  #if(${orderCuss.size()} > 0)
    <!--travel data-->
    <table width="400" style="margin: 0 auto;background: #E5E5E5;line-height: 25px;color: #333333;font-size: 16px;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;width: 400px !important;min-width: 400px !important;">
      <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
        <td colspan="3" width="100%" style="text-align: left;background: #8B8B8B;color: white;font-size: 20px;line-height: 40px;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0 0 0 6%;border-collapse: collapse;border: 0;">旅客情報</td>
      </tr>
      <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
        <!--space block-->
        <td colspan="3" height="10" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
      </tr>
      #foreach($orderCus in $orderCuss)
        #set($i = $velocityCount - 1)
        <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
          <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
          <td width="88%" style="text-align: left;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';line-height: 32px;border-collapse: collapse;padding: 0;border: 0;">旅客 ${velocityCount}</td>
          <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
        </tr>
        <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
          <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
          <td width="88%" style="text-align: left;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">Last name：${orderCus.CusLastname}</td>
          <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
        </tr>
        <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
          <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
          <td width="88%" style="text-align: left;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">First name：${orderCus.CusFirstname}</td>
          <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
        </tr>
        <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
          <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
          <td width="88%" style="text-align: left;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">性別：${orderCusTranslationList.get(${i}).CusGender}</td>
          <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
        </tr>
        #if(${orderCus.Birthday} && !${orderCus.Birthday.isEmpty()})
          <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
            <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
            <td width="88%" style="text-align: left;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">生年月日：$dateTool.format("yyyy/MM/dd", ${orderCus.Birthday})</td>
            <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
          </tr>
        #end
        #if(${orderCus.CountryCd} && !${orderCus.CountryCd.isEmpty()})
          <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
            <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
            <td width="88%" style="text-align: left;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">国籍：${orderCusTranslationList.get(${i}).CountryCd}</td>
            <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
          </tr>
        #end
        #if(${orderCus.PassportId} && !${orderCus.PassportId.isEmpty()})
          <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
            <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
            <td width="88%" style="text-align: left;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">Passport No. ${orderCus.PassportId}</td>
            <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
          </tr>
        #end
        #if(${velocityCount} != ${orderCuss.size()})
            ##最後一個不需要產生分隔線
          <!-- divider -->
          <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
            <!--space block-->
            <td colspan="3" height="6" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
          </tr>
          <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
            <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
            <td width="88%" style="text-align: left;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">
              <table style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;border-collapse: collapse;border: 0;">
                <tbody style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
                  <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
                    <td height="1" style="border-bottom: 1px solid #8C8C8C; width: 400px;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';font-size:1px; line-height:1px;padding: 0;border-collapse: collapse;">&nbsp;</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
          </tr>
          <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
            <!--space block-->
            <td colspan="3" height="6" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
          </tr>
          <!-- divider -->
        #end
      #end
      <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
        <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
        <td width="88%" style="text-align: center;color: #26BEC9;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';font-size: 14px;border-collapse: collapse;padding: 0;border: 0;line-height: 20px;">※ 以上の情報に誤りがある場合は、「予約のお問い合わせ」ページでメセージを残してください。</td>
        <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
      </tr>
      <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
        <!--space block-->
        <td colspan="3" height="3" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
      </tr>
      <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
        <td colspan="3" width="100%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">
          <!-- contact us btn  -->
          <table width="400" cellpadding="0" cellspacing="0" align="center" style="text-align: center;mso-table-lspace: 0pt;mso-table-rspace: 0pt;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">
            <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
              <td style="text-align: center;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">
                <table width="200" cellpadding="0" cellspacing="0" align="center" style="margin: 0 auto;text-align: center;mso-table-lspace: 0pt;mso-table-rspace: 0pt;background: #26BEC9;border-radius: 4px;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">
                  <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
                    <td width="100%" height="10" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
                  </tr>
                  <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
                    <td style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">

                      <table width="100%" cellpadding="0" cellspacing="0" align="center" style="text-align: center;mso-table-lspace: 0pt;mso-table-rspace: 0pt;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">
                        <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
                          <td align="center" style="text-align: center;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">
                            <a target="_blank" href="https://www.kkday.com/ja/order/msg/${orderMid}" style="display: block;width: 100%;color: #FFFFFF;font-size: 18px;text-decoration: none;letter-spacing: 1px;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">予約のお問い合わせ</a>
                          </td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                  <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
                    <td width="100%" height="10" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <!-- contact us btn end -->
        </td>
      </tr>
      <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
        <!--space block-->
        <td colspan="3" height="10" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
      </tr>
    </table>
    <!--travel data end-->
    <table width="400" style="margin: 0 auto;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;width: 400px !important;min-width: 400px !important;">
      <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
        <!--space block-->
        <td height="10" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
      </tr>
    </table>
  #end

  <!--notice data-->
  <table width="400" style="margin: 0 auto;background: #e2f0f1;color: black;font-size: 12px;line-height: 20px;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;width: 400px !important;min-width: 400px !important;">
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <!--space block-->
      <td colspan="3" height="5" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
    </tr>
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
      <td width="88%" style="text-align: left;color: #26BEC9;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">注意:</td>
      <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
    </tr>
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
      <td width="88%" style="text-align: left;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">1. ご注文完了すると、お客様の個人的な要因でキャンセルにな れば,商品のルールで実施します。</td>
      <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
    </tr>
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
      <td width="88%" style="text-align: left;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">2. ご注文完了したことは、予約完成することではありません, KKdayがご注文を確認すると確認書をお送りいたします。</td>
      <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
    </tr>
    <!-- divider -->
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <!--space block-->
      <td colspan="3" height="6" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
    </tr>
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
      <td width="88%" style="text-align: left;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">
        <table style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;border-collapse: collapse;border: 0;">
          <tbody style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
            <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
              <td height="1" style="border-bottom: 1px solid #8C8C8C; width: 400px;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';font-size:1px; line-height:1px;padding: 0;border-collapse: collapse;">&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
    </tr>
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <!--space block-->
      <td colspan="3" height="6" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
    </tr>
    <!-- divider -->
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
      <td width="88%" style="text-align: left;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">ご質問があったら、KKdayにお問い合わせてください。</td>
      <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
    </tr>
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
      <td width="88%" style="text-align: left;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;color: black;padding: 0;border: 0;">顧客サービス : service@kkday.com</td>
      <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
    </tr>
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <!--space block-->
      <td colspan="3" height="10" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
    </tr>
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
      <td width="88%" style="text-align: center;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;color: #26BEC9;padding: 0;border: 0;">※ 本メールは、自動的に配信しています。</td>
      <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
    </tr>
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
      <td width="88%" style="text-align: center;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;color: #26BEC9;padding: 0;border: 0;">こちらのメールは送信專用のため、直接ご返信いただいてもお 問い合わせにはお答えできませんので、あらかじめご了承くだ さい。</td>
      <td width="6%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
    </tr>
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <!--space block-->
      <td colspan="3" height="10" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"></td>
    </tr>
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';line-height: 0;padding: 0;">
      <td colspan="3" width="100%" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;"><img width="100%" src="https://s1.kkday.com/images/other/banner.jpg" alt="banner" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;"></td>
    </tr>
  </table>
  <!--notice end-->
  <!-- footer -->
  <table width="400" style="margin: 0 auto;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;background: #494c4f;padding: 0;border: 0;width: 400px !important;min-width: 400px !important;">
    <tr colspan="15" height="10" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;"></tr>
    <tr style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;">
      <td colspan="80" height="10" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;"></td>
      <!-- facebook -->
      <td width="48" style="text-align: center;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">
        <a href="https://www.facebook.com/KKday/" target="_blank" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;"><img src="https://s3.amazonaws.com/s1.kkday.com/images/other/facebook.png" width="29" align="top" alt="facebook" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;"></a>
      </td>
      <!-- instagram -->
      <td width="48" style="text-align: center;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">
        <a href="https://www.instagram.com/kkdaysg/" target="_blank" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;"><img src="https://s1.kkday.com/images/other/instagram.png" width="29" align="top" alt="instagram" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;"></a>
      </td>
      <!-- blog -->
      <td width="48" style="text-align: center;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">
        <a href="http://en.blog.kkday.com/" target="_blank" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;"><img src="https://s1.kkday.com/images/other/blog.png" width="29" align="top" alt="blog" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;"></a>
      </td>
      <!-- pinterest -->
      <td width="48" style="text-align: center;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">
        <a href="https://www.pinterest.com/kkdayofficial/" target="_blank" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;"><img src="https://s1.kkday.com/images/other/pinterest.png" width="29" align="top" alt="pinterest" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;"></a>
      </td>
      <!-- google+ -->
      <td width="48" style="text-align: center;font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';border-collapse: collapse;padding: 0;border: 0;">
        <a href="https://plus.google.com/107450106394886882974?hl=en-GB" target="_blank" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;"><img src="https://s1.kkday.com/images/other/google-plus.png" width="29" align="top" alt="tumblr" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;"></a>
      </td>
      <td colspan="80" height="10" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;"></td>
    </tr>
    <tr colspan="15" height="10" style="font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Microsoft JhengHei';padding: 0;"></tr>
  </table>
  <!-- footer end -->


</body>
</html>
